{% extends 'dependencies.html' %}
{% load static %}
{% block content %}
<head>
    <style>
        #about-us{
            padding: 150px;
        }

        h2{
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        p{
            font-size: 16px;
            line-height: 1.6;
        }
    </style>
</head>
<div>
    <section id="about-us">
        <div class="container">
            <h2>About Us</h2>
            <p>● Welcome to our online store! We are dedicated to providing a seamless and enjoyable shopping experience for all our customers.</p><br>
            <p>● At Agri Shop, we believe that shopping should be convenient, reliable, and secure. With our vast selection of high-quality products, competitive prices, and exceptional customer service, we aim to exceed your expectations and become your go-to destination for all your shopping needs.</p><br>
            <p>● What sets us apart is our commitment to your satisfaction. We prioritize delivering exceptional customer service by ensuring prompt responses to inquiries, fast and reliable shipping, and hassle-free returns and exchanges.</p><br>
            <p>● Thank you for choosing Agri Shop. We appreciate your support and look forward to serving you with an exceptional shopping experience.  Happy shopping!</p>
        </div>
    </section>
</div>
{% endblock %}